<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FaceBias</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/radialProgress.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/progress_styles.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" media="screen">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='stylesheets/page.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>FaceBias</span><br><br></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/FaceBattle/GlobalHackathon">Github<br></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
             <form action="/bias/" method="post" id="myform">
                <input type="hidden" name="authtoken" id="myformtoken">
                <div class="form-group">
                        <label for="wordInput">Choose a word to look for</label>
                        <input type="text" class="form-control" id="wordInput" name="word"
                               value="Immigrants">
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="submit" id="submitbutton">Compare</button>
                    </div>
                </div>
            </form>
        </div>
</div>
</body>
</html>                                		