<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='stylesheets/page.css') }}" rel="stylesheet" type="text/css">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='js/bubbles.js') }}"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>FaceBias</span><br><br></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Github<br></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header text-center">
              <h1> {{ word }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div id="bubbleDiv">
                  <center>
                <script>
                make_bubbles({{ bubble_data | safe }}, "{{ url_for('static', filename='icons/') }}")
                </script>
                    </center>
              </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12 text-center">
              <h2> Frequency </h2>
        </div></div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div id="wrapper">
      <div id="chart">

      <svg width="1000" height="640"><g class="chart" transform="translate(80, -60)">
        <text id="countryLabel" x="0" y="170" style="font-size: 80px; font-weight: bold; fill: #dddddd;"></text>

        <line id="bestfit" x1="20" y1="545.7195889598048" x2="780" y2="168.09125592579943" style="opacity: 1;"></line>
        <text id="xLabel" x="400" y="670" text-anchor="middle"> Favorability to the subject (in percentage of positiveness of sentiment analysis) </text>
        <text transform="translate(-60, 330)rotate(-90)" id="yLabel" text-anchor="middle">Frequency of posts related to the subject (in number of posts)</text>

          <circle cx="495.07689922279707" cy="281.81818181818164" fill="#393b79" r="12" style="cursor: pointer;"></circle>
          <circle cx="463.71409723422113" cy="388.96103896103887" fill="#5254a3" r="12" style="cursor: pointer;"></circle>
          <circle cx="0" cy="620" fill="#6b6ecf" r="12" style="cursor: pointer;"></circle>
          <circle cx="278.60898674862864" cy="362.98701298701286" fill="#9c9ede" r="12" style="cursor: pointer;"></circle>
          <circle cx="612.8022905876993" cy="100" fill="#637939" r="12" style="cursor: pointer;"></circle>
          <circle cx="124.58221442130483" cy="466.8831168831168" fill="#8ca252" r="12" style="cursor: pointer;"></circle>
          <circle cx="520.0939586645115" cy="275.32467532467535" fill="#b5cf6b" r="12" style="cursor: pointer;"></circle>
          <circle cx="437.64778748867064" cy="440.9090909090908" fill="#cedb9c" r="12" style="cursor: pointer;"></circle>
          <circle cx="462.7961154538441" cy="398.7012987012987" fill="#8c6d31" r="12" style="cursor: pointer;"></circle>
          <circle cx="111.31283949730785" cy="486.3636363636362" fill="#bd9e39" r="12" style="cursor: pointer;"></circle>
          <circle cx="580.0897294096025" cy="259.09090909090884" fill="#e7ba52" r="12" style="cursor: pointer;"></circle>
          <circle cx="491.9768343168893" cy="301.2987012987013" fill="#e7cb94" r="12" style="cursor: pointer;"></circle>
          <circle onmouseover="updateLabel('balao')" cx="780" cy="177.92207792207768" fill="#843c39" r="122" style="cursor: pointer;"></circle>


<g transform="translate(0, 630)" id="xAxis">

{#{% for i in range(8) %}#}
{#    <g class="tick major" transform="translate( {{ 94.90065422261 + (756.4523759692486 - 94.90065422261) * loop.index0/7 }},0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">{{ -0.75 + 0.25*loop.index0}}</text></g>#}
{#{% endfor %}#}

<path class="domain" d="M20,6V0H780V6"></path></g>
<g id="yAxis" transform="translate(-10, 0)">

            <path class="domain" d="M-6,100H0V600H-6"></path></g></g></svg></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>

</body>
</html>