<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/radialProgress.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/progress_styles.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/buttons.css') }}" media="screen">
    <link href="{{ url_for('static', filename='stylesheets/page.css') }}" rel="stylesheet" type="text/css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='js/bubbles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bower_components/jqcloud2/dist/jqcloud.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bower_components/jqcloud2/dist/jqcloud.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/buttons.css') }}" media="screen">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>FaceBias     </span><br><br></a>
        </div>
          <div class="navbar-header">
              <a class="navbar-brand" href="#"><span>           {{ word }}    </span><br><br></a>
          </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/FaceBattle/GlobalHackathon">Github<br></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <section class="middle" data-stellar-background-ratio="0.4">
        <div class="content">

            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="page-header text-center">
                      <h1> {{ word }}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div id="bubbleDiv">
                  <center>
                <script>
                make_bubbles({{ bubble_data | safe }}, "{{ url_for('static', filename='icons/') }}")
                </script>
                    </center>
              </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12 text-center">
              <h2> Frequency </h2>
        </div></div>
      </div>
    </div>


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="wrapper">
{#            <div id="chart" style="background-image: url({{ url_for('static', filename='images/background.png') }}); background-position: center">#}
            <div id="chart">


      <svg width="1000" height="640"><g class="chart" transform="translate(80, -60)">
        <text id="countryLabel" x="0" y="170" style="font-size: 80px; font-weight: bold; fill: #dddddd;"></text>

        <line id="bestfit" x1="20" y1="545.7195889598048" x2="780" y2="168.09125592579943" style="opacity: 1;"></line>
        <text id="xLabel" x="400" y="670" text-anchor="middle"> Favorability to the subject (in percentage of positiveness of sentiment analysis) </text>
        <text transform="translate(-60, 330)rotate(-90)" id="yLabel" text-anchor="middle">Frequency of posts related to the subject (in number of posts)</text>

          {% for key, value in pos_dict.iteritems() %}
            <svg id="{{ "mySvg" + key }}" width="60" height="60">
                <defs id="{{ "mdef" + key }}">
                    <pattern id="{{ "myimage"+key}}" x="0" y="0" height="60" width="60">
                        <image x="0" y="0" width="60" height="60" xlink:href="{{ url_for('static', filename='icons/' + key + '.png') }}"></image>
                    </pattern>
                </defs>
            </svg>
            <circle cx="{{ 600 * value + 20 }}" cy="{{ 600 - (580 - 80)*freq_dict[key]}}" r="30" style="background: green; cursor: pointer; fill: url(#{{ "myimage" + key}}) "></circle>
           {% endfor %}

<g transform="translate(0, 630)" id="xAxis">
<path class="domain" d="M20,6V0H780V6"></path></g>
<g id="yAxis" transform="translate(-10, 0)">
            <path class="domain" d="M-6,100H0V600H-6"></path></g></g></svg></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="l1">
				<button id="b11" class="button button-rounded button-primary" value="CarlyFiorina">Carly</button>
				<button id="b12" class="button button-rounded button-primary" value="DonaldTrump">Trump</button>
				<button id="b13" class="button button-rounded button-primary" value="FoxNews">Fox</button>
				<button id="b14" class="button button-rounded button-primary" value="TMZ">TMZ</button>
                <button id="b15" class="button button-rounded button-primary" value="aljazeera">Al Jazeera</button>
				<button id="b16" class="button button-rounded button-primary" value="barackobama">Obama</button>
				<button id="b17" class="button button-rounded button-primary" value="bbcnews">BBC</button>
				<button id="b18" class="button button-rounded button-primary" value="berniesanders">Bernie</button>
                <button id="b19" class="button button-rounded button-primary" value="cnn">CNN</button>
				<button id="b110" class="button button-rounded button-primary" value="dawndotcom">Dawn</button>
				<button id="b111" class="button button-rounded button-primary" value="hillaryclinton">Hillary</button>
				<button id="b112" class="button button-rounded button-primary" value="sydneymorningherald">Sydney</button>
			</div>
          </div>
          <div class="col-md-6">
              <div id="l2">
				<button id="b21" class="button button-rounded button-primary" value="CarlyFiorina">Carly</button>
				<button id="b22" class="button button-rounded button-primary" value="DonaldTrump">Trump</button>
				<button id="b23" class="button button-rounded button-primary" value="FoxNews">Fox</button>
				<button id="b24" class="button button-rounded button-primary" value="TMZ">TMZ</button>
                <button id="b25" class="button button-rounded button-primary" value="aljazeera">Al Jazeera</button>
				<button id="b26" class="button button-rounded button-primary" value="barackobama">Obama</button>
				<button id="b27" class="button button-rounded button-primary" value="bbcnews">BBC</button>
				<button id="b28" class="button button-rounded button-primary" value="berniesanders">Bernie</button>
                <button id="b29" class="button button-rounded button-primary" value="cnn">CNN</button>
				<button id="b210" class="button button-rounded button-primary" value="dawndotcom">Dawn</button>
				<button id="b211" class="button button-rounded button-primary" value="hillaryclinton">Hillary</button>
				<button id="b212" class="button button-rounded button-primary" value="sydneymorningherald">Sydney</button>
			</div>
          </div>
        </div>
          <div class="row">
              <div class="col-md-12" align="center" id="matchDiv">
              </div>
          </div>

      <div class="row">
          <div class="col-md-6">
            <div id="wordcloud1" style="width: 100%; height: 400px">
            </div>
          </div>
          <div class="col-md-6">
              <div id="wordcloud2" style="width: 100%; height: 400px">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-2" align="center"></div>
          <div class="col-md-2" align="center">
              <div id="r11" align="center"></div>
            </div>
            <div class="col-md-4" align="center"><h3>Positivy Count</h3></div>
          <div class="col-md-2">
              <div id="r12"></div>
          </div>
            <div class="col-md-2" align="center"></div>
        </div>
      </div>
    </div>


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>



<script>
    document.getElementById("b11").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b12").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b13").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b14").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b15").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b16").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b17").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b18").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b19").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b110").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b111").onclick = function() {selectButtonFromFirstRow(this.id)};
    document.getElementById("b112").onclick = function() {selectButtonFromFirstRow(this.id)};


    var words = {{ word_dict | safe}};
    var pos_dict = {{ pos_dict | safe}};
    var matches = {{ matches | safe }};

    console.log(matches);

    var selected_1;
    var selected_2;

    $('#wordcloud1').jQCloud(words['DonaldTrump']);
    $('#wordcloud2').jQCloud(words['barackobama']);

    selectButtonFromFirstRow('b12');
    selectButtonFromSecondRow('b26');

    function selectButtonFromFirstRow(id) {
        var value = document.getElementById(id).value;

        selected_1= value;
        $('#wordcloud1').jQCloud('update', words[value]);
        var elements = document.getElementById('l1').children;
        for (var i = 0; i < elements.length; i++) {
            if(elements[i].className.indexOf('disabled') == 0) {
                elements[i].className = elements[i].className.substring(8);
            }
        }
        document.getElementById("matchDiv").innerHTML = "<h1>" + Math.round(matches[selected_1][selected_2]*100)  + "</h1>";
        document.getElementById(id).className = "disabled " + document.getElementById(id).className;
        start_rp1(pos_dict[value]);
    };

    document.getElementById("b21").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b22").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b23").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b24").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b25").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b26").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b27").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b28").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b29").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b210").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b211").onclick = function() {selectButtonFromSecondRow(this.id)};
    document.getElementById("b212").onclick = function() {selectButtonFromSecondRow(this.id)};

    function start_rp1(total_value) {
        var rp1 = radialProgress(document.getElementById('r11'))
                .diameter(150)
                .value(total_value*100)
                .render();
    }
    function start_rp2(total_value) {
        var rp2 = radialProgress(document.getElementById('r12'))
            .diameter(150)
            .value(total_value*100)
            .render();
    }

    function selectButtonFromSecondRow(id) {
        var value = document.getElementById(id).value;

        selected_2 = value;
        $('#wordcloud2').jQCloud('update', words[value]);

        var elements = document.getElementById('l2').children;
        for (var i = 0; i < elements.length; i++) {
            if(elements[i].className.indexOf('disabled') == 0) {
                elements[i].className = elements[i].className.substring(8);
            }
        }


        document.getElementById("matchDiv").innerHTML = "<h1>" + Math.round(matches[selected_1][selected_2]*100) + "</h1>";
        document.getElementById(id).className = "disabled " + document.getElementById(id).className;
        start_rp2(pos_dict[value]);
    }

  	$.stellar();

</script>

</body>
</html>